org: manishachoudhary12
service: cloudkart-serverless-Product-Inventory-System

frameworkVersion: '4'

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  environment:
    PRODUCTS_TABLE: CloudKartProducts
  iam:
    role:
      name: cloudkart-lambda-role
      statements:
        - Effect: Allow
          Action:
            - dynamodb:PutItem
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:UpdateItem
          Resource: "*"

functions:
  createProduct:
    handler: index.createProduct
    events:
      - httpApi:
          path: /products
          method: post

resources:
  Resources:
    CloudKartProducts:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: CloudKartProducts
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST



